{% extends "base.html" %}
{% block title %}Contato | {{ block.super }}{% endblock %}
{% block id %}contact{% endblock %}
{% block class %}text{% endblock %}

{% block content %}
    <div class="bg-bottom">
    	<p class="breadcrumb">Você está em: <a href="/">Home</a> » Autorização de comentário</p>
    	<div class="article">
            <!-- <h3>Comentário gravado com sucesso</h3> -->
    		<div class="form">
    			<h4>Comentário gravado com sucesso</h4>    			
    			<div class="clear"></div>
    		</div>
    		<div class="contact">
    			<h4></h4>
    			<p></p>
    		</div>
    		<div class="clear"></div>
    	</div>
    </div>
{% endblock %}