{% load thumbnail pagination_tags %}
<div class="bg-bottom">
	<div class="article">
		<div class="banner">
	  	    <p class="breadcrumb">Você está em: <a href="/">Home</a>{{ category.name }} » Resultado da busca</p>
    	   	<div class="carousel">
		        <div id="slider" class="nivoSlider">
        			{% for banner in qs_banner %}
        			    {% if banner.target %}
        				    <a href="{{ banner.link }}" target="_blank"><img src="{% thumbnail banner.image 640x212 crop %}" /></a>
        				{% else %}
        				    <a href="{{ banner.link }}"><img src="{% thumbnail banner.image 640x212 crop %}" /></a>
        				{% endif %}
        			{% endfor %}
			    </div>
		    </div>
		</div>

		<div id="results">
		    <div class="results">
			    <h4>Resultado da busca</h4>
    			<p>Sua busca <strong>{{ category.name }}</strong> trouxe {{ count }} resultado{{ count|pluralize }}:</p>
    			<div class="bg-results-left" >
    				<div class="bg-results-right">
    					<form id="filter" action="{% url result_search %}" method="get">
    						<p><label>Filtre os resultados: </label></p>
    						<ul>
						        <li><label><input id="all-types" type="checkbox" {% if not t or t == '' %} checked="checked" {% else %}{% endif %} value="" name="t"/>Todos</label></li>
                                <li><label><input id="type-corporate" type="checkbox" {% if 'comercio' in t %} checked="checked" {% endif %} value="comercio" name="t"/>Comércio ({{ commerce }})</label></li>
                                <li><label><input id="type-professional" type="checkbox" {% if 'servico' in t %} checked="checked" {% endif %} value="servico" name="t"/>Serviços ({{ service }})</label></li>
                                <li><label><input id="type-event" type="checkbox" {% if 'evento' in t %} checked="checked" {% endif %} value="evento" name="t"/>Eventos ({{ event }})</label></li>
    						</ul>
    					</form>
    				</div>
    			</div>
    			<ul class="results">
    			    {% for result in ads %}
        			    <li class="odd">
        					<div class="img-logo">
    							<img src="{% thumbnail result.image 97x75 %}" alt="{{ result.fancy_name }}"/>
    						</div>
        					<div class="text">
        						<h2>{{ result.fancy_name|truncatewords:5  }}</h2>
        						<p>{{ result.description|truncatewords:15 }}</p>
        						<a href="{% url ads_detail_view slug=result.slug %}">MAIS INFORMAÇÕES</a>
                                {% if result.has_active_promotions %}
                                    <a href="{% url ads_detail_view slug=result.slug %}">Vizualizar Promoção</a>
                                {% endif %}
        					</div>
        					<div class="img-banner">
        					    {% with result.photo_set.all|first as img %}
    							    <img src="{% thumbnail img.photo 97x70 %}" alt="{{ img.name }}"/>
    							{% endwith %}
    						</div>
    					</li>
        			{% endfor %}
        		</ul>
                {% if paginator.has_previous or paginator.has_next %}
                    <div id="pagination-filter">
                        <div class="pagination">
                            {% if paginator.has_previous %}
                                <a class="prev arrow" href="#" page="{{ paginator.previous_page_number }}">Anterior</a>
                            {% else %}
                                <span class="disabled prev">Anterior</span>
                            {% endif %}
                            {% for p in list_pages %}
                                {% if p == page %}
                                    <span class="current page"></span>
                                {% else %}
                                    <a class="page" href="#" page="{{ p }}"></a>
                                {% endif %}
                            {% endfor %}
                            {% if paginator.has_next %}
                                <a class="next arrow" page="{{ paginator.next_page_number }}" href="#">Próximo</a>
                            {% else %}
                                <span class="disabled next">Próximo</span>
                            {% endif %}
                            <input type="hidden" class="url-filter" value="category={{category}}{% if activity %}&activity={{ activity }}{% endif %}{% for o in option_value %}&option-value={{ o }}{% endfor %}"/>
                        </div>
                    </div>
                {% endif %}
        	</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
