{% extends "base.html" %}
{% load youtubizer pagination_tags thumbnail poll_tags locations_tags payment_tags str_tags %}
{% block title %}{{ category.name }} | {{ block.super }}{% endblock %}
{% block rel %}{{ category.slug|lower }}{% endblock %}
{% block id %}category{% endblock %}
{% block class %}search{% endblock %}

{% block content %}
<div class="menu">
	<h2>{{ category.name }}</h2>
	<p>{{ category.description }}</p>
	<form id="filter-form" action="{% url result_filter %}" method="get">
		<fieldset class="activities">
			<legend>Refine sua busca:</legend>
			<label class="border-top"><img src="{{ STATIC_URL }}img/bg/bg_marker_menu.png"> SEÇÃO</label>
			<input type="hidden" name="category" value="{{ category.id }}" id="id_category" />
			<ul class="ul-activity">
				{% for activity in list_activity %}
				<li>
					<label class="inner" for="id_activity{{ activity.id }}"><input type="checkbox" id="id_activity{{ activity.id }}" value="{{ activity.id }}" name="activity"><img src="{{ STATIC_URL }}img/bg/bg_marker_menu_1.png">{{ activity.name }}</label>
					{% if activity.option_groups.exists %}
						<ul class="ul-option">
							{% for option in activity.option_groups.all %}
								<li class="option"><span class="close"> - {{ option.name }} </span>
									<ul class="ul-optionvalue">
										{% for value in option.optionvalue_set.all %}
											<li class="li-value" ><label for="id_{{ value.option_group }}{{ value.id }}"><input type="checkbox" id="id_{{ value.option_group }}{{ value.id }}" value="{{ value.id }}" name="option-value">{{ value.name }}</label></li>
										{% endfor %}
									</ul>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			<span class="border-bottom"></span>
			<div class="locale">
				 {% if qs_list_area %}
					<label class="border-top"><img src="{{ STATIC_URL }}img/bg/bg_marker_menu.png"> BAIRRO</label>
					<ul class="scroll">
						{% for l in qs_list_area %}
							<li><label for="id_locale{{ l.id }}"><input type="checkbox" id="id_locale{{ l.id }}" value="{{ l.id }}" name="area"><img src="{{ STATIC_URL }}img/bg/bg_marker_menu_1.png">{{ l.area }}</label></li>
						{% endfor %}
					</ul>
					<span class="border-bottom"></span>
				{% endif %}
			</div>
			<div class="payment">
				<label class="border-top"><img src="{{ STATIC_URL }}img/bg/bg_marker_menu.png"> FORMAS DE PAGAMENTO</label>
				<ul class="scroll">
					{% get_root_payment as search_payment for list_ads %}
					{% for p in search_payment %}
						<li><label for="id_payment{{ p.id }}"><input type="checkbox" id="id_payment{{ p.id }}" value="{{ p.id }}" name="payment"><img src="{{ STATIC_URL }}img/bg/bg_marker_menu_1.png">{{ p.name }}</label></li>
					{% endfor %}
				</ul>
				<span class="border-bottom"></span>
			</div>
		</fieldset>
	</form>
	<div id="wrap-suggestion" class="hidden">
		{% include "appsite/suggestion.html" %}
	</div>
	{% block poll %} {% render_poll %} {% endblock %}
	{% include "appsite/facebook.html" %}
</div>
<div class="bg-top">
	<div class="bg-bottom">
		<div class="article">
			<div class="banner">
				<p class="breadcrumb">Você está em: <a href="/">Home</a> » {{ category.name }} </p>
				<div class="carousel">
					<div id="slider" class="nivoSlider">
						{% for banner in list_banner %}
							{% if banner.target %}
								<a href="{{ banner.link }}" target="_blank"><img src="{% thumbnail banner.image 640x212 crop %}" /></a>
							{% else %}
								<a href="{{ banner.link }}"><img src="{% thumbnail banner.image 640x212 crop %}" /></a>
							{% endif %}
						{% endfor %}
					</div>
				</div>

			</div>
			<div class="results"> <!-- div para atualizar os dados por filtro -->
				<div id="channel" class="column">
					{% if list_videos %}
						<h2>Vídeos <a href="{% url video_refresh_view category.slug %}">» Ver todos</a></h2>
						<div id="videos">
							<ul>
								{% for video in list_videos %}
									<li>
										<a href="{% url video_detail_view slug=video.slug %}"><img class="img-video" src="{% thumbnail video.image 308x207 crop %}" alt="{{ video.title }}"></a>
										<p>{{ video.title|truncatesmart:"30" }}</p>
									</li>
									<!-- <li><iframe width="300" height="207" src="http://www.youtube.com/embed/{{ video.video }}" frameborder="0" allowfullscreen></iframe></li> -->
								{% endfor %}

							</ul>
							<div class="arrows">
								<span class="prev" title="anterior">Anterior</span>
								<span class="next" title="Próximo">Próximo</span>
							</div>
						</div>
					{% else %}
						<h2>Nenhum Vídeo</h2>
					{% endif %}
					<div id="featured" class="topics">
						{% if news_more_views %}
							<h3>Destaques</h3>
							<ul>
							{% for news in news_more_views %}
								<li><a href="{% url entry_detail slug=news.slug %}">
										<img src="{% thumbnail news.img_display 60x60 crop %}" alt="{{ news.title }}" />
										<h4>{{ news.title|truncatesmart:"30" }}</h4>
										<p>{{ news.brief|truncatesmart:"70" }}</p>
										<span>Veja mais »</span>
									</a>
								</li>
							{% endfor %}
							</ul>
						{% else %}
							<h3>Nenhum destaque</h3>
						{% endif %}
					</div>
				</div>
				<div class="column topics">
					{% if last_news %}
						<h3>Dicas:<a href="{% url entry_detail slug=qs_all_news.slug %}">» Ver todos</a></h3>
						<ul>
							{% for news_last in last_news %}
								<li>
									<a href="{% url entry_detail slug=news_last.slug %}"><img src="{% thumbnail news_last.img_display 60x60 crop %}" alt="{{ news_last.title }}" /></a>
									<a href="{% url entry_detail slug=news_last.slug %}"><h4>{{ news_last.title|truncatesmart:"30" }}</h4></a>
									<a href="{% url entry_detail slug=news_last.slug %}"><p>{{ news_last.brief|truncatesmart:"70" }}</p></a>
									<a href="{% url entry_detail slug=news_last.slug %}"><span>Veja mais »</span></a>
								</li>
							{% endfor %}
						</ul>
					{% else %}
						<h3>Nenhuma notícia</h3>
					{% endif %}
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
{% endblock %}
