{% extends "base.html" %}
{% load thumbnail youtubizer %}
{% block title %}Institucional | {{ block.super }}{% endblock %}
{% block id %}institutional{% endblock %}
{% block class %}text{% endblock %}

{% block content %}
    <div class="bg-bottom">
        <p class="breadcrumb">Você está em: <a href="/">Home</a> » Institucional</p>
        <div class="article">
        	<h3>Institucional</h3>
        	<div class="text">
        	    <h4>VIRTUALLIA – O MELHOR DE SUA CIDADE</h4>
        	    <img src="{% thumbnail corporate.photo 346x210 %}" alt="institucional" />
        	    {{ corporate.superior_text|linebreaks }}
        	</div>
        	<div class="clear"></div>
        </div>
        <div class="article">
        	<h4>Vídeo Institucional</h4>
        	<div class="text">
        	    {{ corporate.video|youtubize:"340x210"|safe }}
        		{{ corporate.lower_text|linebreaks }}
        	</div>
        	<div class="clear"></div>
        </div>
    </div>
{% endblock %}
