{% extends "base.html" %}
{% block title %}Denuncie | {{ block.super }}{% endblock %}
{% block id %}contact{% endblock %}
{% block class %}text{% endblock %}

{% block content %}
    <div class="bg-bottom">
    	<p class="breadcrumb">Você está em: <a href="/">Home</a> » Contato</p>
    	<div class="article">
    		<h3>Denuncie</h3>
    		<div class="form">
    		    <p>Sua denúncia foi enviada com sucesso para os administradores do site.</p>
    		</div>
    		<div class="contact">
    			<h4>Fale conosco</h4>
    			<p>O Virtuallia oferece a você um espaço exclusivo para nos comunicarmos.<br /><br />
                Aqui você pode expressar sua opinião, dúvida, sugestão ou interesse em anunciar em nossos banners.<br /><br />
                Sinta-se a vontade para entrar em contato conosco. Você é de suma importância para nós.</p>
                {# <address> #}
                {#    <span class="phone">11 9865-6545</span> #}
                {#    <a class="email" href="mailto:contato@virtuallia.com.br">contato@virtuallia.com.br</a> #}
                {# </address> #}
    		</div>
    		<div class="clear"></div>
    	</div>
    </div>
{% endblock %}