{% extends "base.html" %}
{% block title %}Nova Promoção | {{ block.super }}{% endblock %}
{% block id %}new-voucher{% endblock %}
{%block class%}search{% endblock %}
{% load thumbnail %}
{% block content %}
<div class="menu">
    <h2>Gerar Cupom de Desconto</h2>
	<p>Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>

	<ul class="links">
	    <li><a href="/">» Home</a></li>
	    <li><a href="{% url edit_registration %}">» Meu cadastro</a></li>
	    {% if request.user.get_profile.is_advertiser %}
		    <li><a href="{% url my_ads %}">» Meu(s) anúncio(s)</a></li>
		    <li><a href="{% url new_signature %}">» Novo anúncio</a></li>
		    <li><a href="{% url my_promotions %}">» Minha(s) Promoção(ões)</a></li>
	    {% endif %}
    </ul>
{% include "appsite/facebook.html" %}
</div>
<div class="bg-top">
	<div class="bg-bottom">
		<div class="article voucher">
			<form action="." method="post" accept-charset="utf-8" enctype="multipart/form-data">
				{% csrf_token %}
				<p class="breadcrumb">Você está em: <a href="/">Home</a> » Cupom de desconto </p>
				{% if form.errors %}
				    <div class="error">
				        <div class="top">
					        <h3>Cupom não criado.</h3>
					        <p>Por favor, confira os campos listados abaixo corretamente:</p>
				        </div>
				        <ul>
    				        {% for field in form %}
                                {% if field.errors %}<li><strong>{{ field.label }}</strong> {{ field.errors|striptags }}</li>{% endif %}
    				        {% endfor %}
				        </ul>
					</div>
				{% endif %}
				<div class="title">
					<label for="id_title">CPF:</label>
					<div class="border-left big">
						<div class="border-right">
							{{ form.cpf }}
						</div>
					</div>
				</div>
				<div class="clear"></div>
				{% if promotion.limit_coupons %}
					{% if promotion.limit_date %}
						<input class="new-voucher" type="submit" value="CRIAR CUPOM">
						{% else %}
							<p class="expired">Essa promoção ultrapassou a data limite. <a href="{% url all_promotions %}">Clique aqui para mais promoções.</a></p>
						{% endif %}
				{% else %}
					<p class="expired">Essa promoção ultrapassou o número de cupons. <a href="{% url all_promotions %}">Clique aqui para mais promoções.</a></p>
				{% endif %}
				<div class="clear"></div>
			</form>
		</div>
	</div>
</div>
{% endblock %}





