{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Minhas promoções | {{ block.super }}{% endblock %}
{% block id%}ad{% endblock %}
{% block class%}search{% endblock %}
{% block content %}
<div class="menu">
	<h2>Meus cupons de desconto</h2>
	<p>Aqui você pode inserir informação(ões) referente(s) a(s) sua(s) Compra-Coletiva(s) e Vale-Brinde(s).</p>

	<ul class="links">
	    <li><a href="/">» Home</a></li>
	    <li><a href="{% url edit_registration %}">» Meu cadastro</a></li>
	    <li><a href="{% url my_ads %}">» Meu(s) anúncio(s)</a></li>
        <li><a class="active" href="{% url my_promotions %}">» Minha(s) Promoção(ões)</a></li>
	    <li><a href="{% url new_signature %}">» Novo anúncio</a></li>
    </ul>
    {% include "appsite/facebook.html" %}
</div>
<div class="bg-top">
        <div class="bg-bottom">
		<div class="article">
			<div class="banner">
				<p class="breadcrumb">Você está em: <a href="/">Home</a> » Minhas Promoções</p>
                {% if messages %}
                    <div class="data">
                        {% for message in messages %}
                            <p class="{{ message.tags }}">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% for voucher in my_promotions %}
        			<div class="text">
    					<div class="border">
    						<div class="content">
    							<div class="logo">
    								<img src="{% thumbnail voucher.image 194x194 %}" alt="{{ voucher.title }}"/>
    							</div>
    							<h2>{{ voucher.title }}</h2>
    							<p>{{ voucher.description }}</p>
    							<div class="share share-voucher">
                                    <form class="is_active" action="{% url disable_promotion pk=voucher.pk %}" method="get" accept-charset="utf-8">
                                        <label for="id_is_active">Ativar cupom</label>
                                        <input id="id_is_active" type="checkbox" name="is_active" {% if voucher.is_active %}checked="checked"{% endif %}>
                                    </form>
                                    <a href="{% url my_promotion_detail pk=voucher.pk %}" class="edit-ad">Vizualizar</a>
                                    <p class="voucher-ad">Anúncio: {{ voucher.ad.fancy_name }}</p>
    							</div>
                                <div class="clear"></div>
    						</div><!-- content -->
    					</div><!-- bg-bottom -->
    				</div><!-- text -->
    				<div class="clear"></div>
                {% endfor %}
			</div><!-- banner -->
            <div class="clear"></div>
		</div>
	</div>
</div>
{% endblock %}
