{% block suggestion %}
<form action="{% url suggestion %}?url={{ request.path_info }}" method="post">
    {% csrf_token %}
	<h4>O que você não encontrou?</h4>
	{% if messages %}
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    {% endif %}
	<div>
		<div class="border-left"><div class="border-right"><input type="text" name="suggestion"/></div></div>
		<input type="submit" name="submit-suggestion" value="ENVIAR"/>
	</div>
    <div class="clear"></div>
</form>
{% endblock %}
