{% extends "base.html" %}
{% block title %}Esqueci minha senha | {{ block.super }}{% endblock %}

{% block id %}forgot-password{% endblock %}
{% block class %}text{% endblock %}

{% block content %}
    <div class="bg-bottom">
    	<p class="breadcrumb">Você está em: <a href="/">Home</a> » Esqueci minha senha</p>
    	<div class="article">
    		<h3>Esqueci minha senha</h3>
    		<div class="form">
    			<p>Preencha o campo abaixo com o endereço de e-mail cadastrado para recuperar sua senha. </p>
    			{% if messages %}
                    {% for message in messages %}
                    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                {% endif %}
    			<form method="post">
    			    {% csrf_token %}
    				<div>
    				    {{ form.email.errors }}
    	                {{ form.email.label_tag }}
    					<div class="border-left big">
    						<div class="border-right">
    							{{ form.email }}
    						</div>
    					</div>
    					<input type="submit" value="ENVIAR" />
    					
    				</div>
    			</form>
    			<div class="clear"></div>
    		</div>
    	</div>
    </div>
{% endblock %}
