{% extends "base.html" %}
{% load thumbnail youtubizer %}
{% block title %}{{ ad.fancy_name }} | {{ block.super }}{% endblock %}
{% block rel %}{{ ad.category.slug|lower }}{% endblock %}
{% block id %}edit-ad{% endblock %}
{% block class %}search{% endblock %}

{% block content %}
<div class="menu">
    <h2>Meu Cadastro</h2>
	<p>Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.</p>

	<ul class="links">
	    <li><a href="/">» Home</a></li>
	    <li><a href="{% url edit_registration %}">» Meu cadastro</a></li>
	    <li><a class="active" href="{% url my_ads %}">» Meu(s) anúncio(s)</a></li>
	    <li><a href="{% url new_signature %}">» Novo anúncio</a></li>
        <li><a href="{% url my_promotions %}">» Minha(s) Promoção(ões)</a></li>
    </ul>
{# {% include "appsite/facebook.html" %} #}
</div>
<div class="bg-top">
	<div class="bg-bottom">
		<div class="article">
		    <form action="{% url edit_ad ad.slug %}" method="post" accept-charset="utf-8">
		        {% csrf_token %}
			    <div class="banner">
			    	<p class="breadcrumb">Você está em: <a href="/">Home</a> » <a href="{% url my_ads %}">Meu(s) anúncio(s)</a> » {{ ad.fancy_name }}</p>
					{% if form.errors %}
				    <div class="error">
				        <div class="top">
					        <h3>Suas alterações não foram efetivadas.</h3>
					        <p>Por favor, preencha os campos listados abaixo corretamente:</p>
				        </div>
				        <ul>
    				        {% for field in form %}
                                {% if field.errors %}<li><strong>{{ field.label }}</strong> {{ field.errors|striptags }}</li>{% endif %}
    				        {% endfor %}
				        </ul>
				    </div>
				    {% endif %}
					<div class="text">
						<div class="border">
							<div class="content">
								<div class="logo">
									<img src="{% thumbnail ad.image 194x194 %}" alt="{{ ad.slug }}"/>
									<div class="help-logo">
        								<p class="help-text">Tamanho recomendado 194px por 194px</p>
        							    <p class="required">Tamanho máximo 200kb</p>
    							    </div>
    							    <div class="success-logo">
    							        <p class="help-text">Imagem carregada com sucesso.</p>
    							    </div>
								</div>
    						    <input type="text" name="fancy_name" value="{{ ad.fancy_name }}" id="title" placeholder="Nome fantasia"/>
    						    <textarea name="description" rows="8" cols="40" placeholder="Descrição da empresa">{{ ad.description }}</textarea>
    						    <div class="links">
        						    <label for="url">Site</label><input type="text" name="site" value="{{ ad.site }}" id="url" placeholder="Endereço do seu site"/>
        						    <label for="facebook">Facebook</label><input type="text" name="facebook" value="{{ ad.facebook }}" id="facebook" placeholder="Endereço do seu facebook"/>
        						    <label for="twitter">Twitter</label><input type="text" name="twitter" value="{{ ad.twitter }}" id="twitter" placeholder="Endereço do seu twitter"/>
								</div>
								<a href="#imagem-exibicao" class="orange lightbox">
    						        <span class="left"><span class="text">ALTERAR IMAGEM</span>
    						    </a>
							</div><!-- content -->
						</div><!-- border -->
					</div><!-- text -->
				</div><!-- banner -->
				<div id="gallery">
					<h3>Galeria de fotos</h3>
					<ul>
                        {% if photos %}
    					    {% for photo in ad.photo_set.all %}
            				    <li><a class="lightbox-gallery" href="{{ photo.photo.url }}" rel="galeria"><img src="{% thumbnail photo.photo 104x86 crop %}" alt="{{ photo.name }}"/></a></li>
        					{% endfor %}
                        {% else %}
                            <li><img src="{{ STATIC_URL }}img/bg/bg_photo_ad.png"></li>
                            <li><img src="{{ STATIC_URL }}img/bg/bg_photo_ad.png"></li>
                            <li><img src="{{ STATIC_URL }}img/bg/bg_photo_ad.png"></li>
                            <li><img src="{{ STATIC_URL }}img/bg/bg_photo_ad.png"></li>
                            <li><img src="{{ STATIC_URL }}img/bg/bg_photo_ad.png"></li>
                            <li><img src="{{ STATIC_URL }}img/bg/bg_photo_ad.png"></li>
                        {% endif %}
					</ul>
					<a href="#adicionar-imagem" class="orange lightbox">
				        <span class="left"><span class="text">
				            ADICIONAR IMAGEM
				        </span></span>
				    </a>
				</div>
				<div id="video">
					<h3>Vídeo</h3>
					{% if ad.video %}
                        {{ ad.video|youtubize:"275x170"|safe }}
                    {% else %}
                        <img src="{{ STATIC_URL }}img/bg/bg_video.jpg">
                    {% endif %}
					<a href="#alterar-video" class="orange lightbox">
				        <span class="left"><span class="text">
				            ALTERAR VÍDEO
				        </span></span>
				    </a>
				</div>
                <div class="clear"></div>
				<div id="contact">
					<h3>Entre em contato</h3>
				    <div id="address">
    					<input type="text" name="zip_code" value="{{ ad.zip_code }}" id="id_zip_code" placeholder="CEP"/>
    					<input type="text" name="street" value="{{ ad.street }}" id="id_street" placeholder="Av, rua, etc..."/>
    					<input type="text" name="number" value="{{ ad.number }}" id="id_number" placeholder="Número"/>
    					<input type="text" name="complement" value="{{ ad.complement }}" id="id_complement" placeholder="Complemento"/>
                        <div class="ad-state">{{ form.state }}</div>
                        <div class="ad-city">
                            <select id="id_city" name="city">
                                {% for c in city %}
                                    <option value="{{ c.id }}">{{ c.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="ad-area">
                            <select id="id_area" name="area" >
                                {% for a in area %}
                                    <option value="{{ a.id }}">{{ a.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
    					<input type="text" name="country" value="Brasil" id="id_country" placeholder="País"/>
    					<textarea name="time_working" id="id_time_working" rows="8" cols="40" placeholder="Horário de funcionamento">{{ ad.time_working }}</textarea>
				    </div>
				    <div id="map">
    					<div id="map-canvas" >
    					   	<img src="http://maps.google.com/maps/api/staticmap?center=Avenida+Presidente+Vargas,2121,Ribeirao+Preto,SP&amp;zoom=14&amp;size=275x165&amp;maptype=roadmap&markers=-21.206029,-47.810933&amp;sensor=false">

    					</div>
				    </div>
                    <div class="clear"></div>
				</div>
				<div id="field">
	    	       <div id="categories">
	    	           <h2>Categorias * <em>(selecione a categoria deste anúncio)</em></h2>
                        {{form.category}}
                       <div class="clear"></div>
	    	       </div>
                    <div id="activities" class="hidden">
                         <h2>Seções * <em>(selecione a seção deste anúncio)</em></h2>
                         <div class="loader"></div>
                         <ul>

                        </ul>
        		        <div class="clear"></div>
                    </div>
    		       <div id="values" class="hidden">
    		           <h2>Características * <em>(selecione as caracteristicas deste anúncio)</em></h2>
                       <div class="loader"></div>
                       <ul></ul>

                       <div class="clear"></div>
    		       </div>
                   <div class="clear"></div>
    		        <h2>Formas de pagamento aceitas por você</h2>
    		        {{ form.payment}}
                    <div class="clear"></div>
				</div>
				<div id="extras">
    				<span>Tipo de anúncio</span>
    				{{ form.type_ad }}
				</div>
				<div class="line">
				    <a href="{% url my_ads %}" class="grey">
				        <span class="left"><span class="text">
				            CANCELAR ALTERAÇÕES
				        </span></span>
				    </a>
                    <span class="hidden">{{ ad.pk }}</span>
				    <input type="submit" value="SALVAR ALTERAÇÕES">
   				</div>
			</form>
		    <div class="clear"></div>
		</div><!-- div.article -->
	</div><!-- div.bg-bottom -->
</div><!-- div.bg-top -->

<div id="fancybox" >
   <div id="imagem-exibicao" class="lightbox">
        <h2>Adicionar  nova  imagem  de  exibição:</h2>

        <form action="{% url edit_image slug=ad.slug %}" method="post" enctype="multipart/form-data" accept-charset="utf-8">
            {% csrf_token %}
            <label for="id_image">Procure a imagem de exibição em seu computador:</label>
			<div class="help-logo">

				<p class="help-text">Tamanho recomendado 194px por 194px</p>
			    <p class="help-text">Tamanho máximo 200kb</p>
		    </div>
		    <div class="success">
		        <p class="help-text">Imagem carregada com sucesso.</p>
		    </div>
                {% if image_form.image.errors %}
                    <div class="error">
                        <img src="{{ STATIC_URL }}img/bg/bg_alert.png" alt="alert" />
                        <span>Imagem de exibição invalida. Por favor, procure uma nova imagem de exibição.</span>
                    </div>
                {% endif %}
            <input type="file" name="image" id="id_image"/>
            <input type="submit" value="Adicionar imagem"/><div class="loading"></div>
      		<span class="close">Fechar</span>
	    </form>
    </div>
    <div id="alterar-video" class="lightbox">
        <h2>Alterar vídeo:</h2>
        <form action="{% url edit_video slug=ad.slug %}" method="post" accept-charset="utf-8">
            {% csrf_token %}
            <label for="video_url">Informe no campo abaixo o endereço do seu vídeo no Youtube ou no Vímeo:</label>
            {% if video_form.video_url.errors %}
            <div class="error">
                <img src="{{ STATIC_URL }}img/bg/bg_alert.png" alt="alert" />
                <span>URL invalida. Por favor, informe o endereço do video no YouTube que deseja postar em seus videos.</span>
            </div>
            {% endif %}
            <div class="border-left regular">
			    <div class="border-right">
                    <input type="text" name="video" value="" id="video_url">
				</div>
			</div>
			<span class="help-text">Ex.: www.youtube.com/watch?v=XFkzRNyygfk</span>
			<img src="{{ STATIC_URL }}img/bg/bg_youtube.png" alt="example youtube">
			<input type="submit" value="Adicionar vídeo"><div class="loading"></div>
     		<span class="close">Fechar</span>
	   </form>
    </div>
    <div id="adicionar-imagem" class="lightbox">
        <h2>Adicionar  nova  imagem:</h2>
        <form action="{% url edit_photos slug=ad.slug %}" method="post" enctype="multipart/form-data" accept-charset="utf-8">
            {% csrf_token %}
            {{ photo_form.management_form }}
            <label for="imagem_galeria">Selecione a imagem em seu computador:</label>
            {% if photo_form.errors %}
            <div class="error">
                <img src="{{ STATIC_URL }}img/bg/bg_alert.png" alt="alert" />
                <span>Imagem invalida. Por favor, procure a imagem que deseja adicionar à galeria:</span>
            </div>
            {% endif %}
            <p class="success0">Foto carregada com sucesso.</p>
            <span class="input-file">
                <span class="val"></span>
                <input id="id_photo_set-0-photo" type="file" name="photo_set-0-photo">
            </span>

            <p class="success1">Foto carregada com sucesso.</p>
            <span class="input-file">
                <span class="val"></span>
                <input id="id_photo_set-1-photo" type="file" name="photo_set-1-photo">
            </span>

            <p class="success2">Foto carregada com sucesso.</p>
            <span class="input-file">
                <span class="val"></span>
                <input id="id_photo_set-2-photo" type="file" name="photo_set-2-photo">
            </span>

            <p class="success3">Foto carregada com sucesso.</p>
            <span class="input-file">
                <span class="val"></span>
                <input id="id_photo_set-3-photo" type="file" name="photo_set-3-photo">
            </span>

            <p class="success4">Foto carregada com sucesso.</p>
            <span class="input-file">
                <span class="val"></span>
                <input id="id_photo_set-4-photo" type="file" name="photo_set-4-photo">
            </span>

            <p class="success5">Foto carregada com sucesso.</p>
            <span class="input-file">
                <span class="val"></span>
                <input id="id_photo_set-5-photo" type="file" name="photo_set-5-photo">
            </span>
            {% for form in photo_form %}
            {{ form.id}}
            <!-- {{ form.photo }}  comentado para as mensagens funcionarem-->
            {% endfor %}
			<input type="submit" value="ADICIONAR IMAGEM">
			<div class="loading photos"></div>
			<span class="close">Fechar</span>
        </form>

    </div>
</div>


{% endblock %}
